<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }
</style>

<div class="message-content">
    <p>Olá, {{name}}</p>
    <p>Parece que teve uma solicitação de troca de senha na sua conta.</p>
    <p>Se foi você, clique no link logo abaixo para trocar sua senha: </p>

    <a href="{{link}}">Resetar Senha</a>

    <p>Caso não tenha sido você, desconsidere.</p>
    <p>
        Obrigado. <br />
        <strong>Equipe goBarber!</strong>
    </p>
</div>